<div class="modal-header">
	<button type="button" class="close" aria-label="Close" (click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Reason Blocked</h4>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
			<textarea class="form-control" name="reason_blocked" rows="5" [(ngModel)]="model.reason_blocked" maxlength="4096" autofocus></textarea>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="ok()">OK</button>
	<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
