<div id="toolbar">
	<%= link_to 'Iterations', iterations_path %> - 
	<%= link_to 'Stories', stories_path %> - 
	<%= link_to 'Individuals', individuals_path %> - 
	<%= link_to 'Log out', logout_url %>
</div>
