<div id="toolbar">
	<%= link_to 'Iterations', url_for( :controller => :iterations, :action => :list, :protocol => insecure_protocol, :only_path => false ) %> - 
	<%= link_to 'Stories', url_for( :controller => :stories, :action => :list, :protocol => insecure_protocol, :only_path => false ) %> - 
	<%= link_to 'Individuals', url_for( :controller => :individuals, :action => :list, :protocol => secure_protocol, :only_path => false ) %> - 
	<%= link_to 'Log out', url_for( :controller => :session, :action => :destroy, :method => :delete, :protocol => insecure_protocol, :only_path => false ) %>
</div>
