<div id='login'>
<center>
<% form_tag url_for( {:protocol => secure_protocol, :action => :create, :only_path => false} ), { :id => 'login-form'} do -%>

<table>
	<tr><td align='right'><label for="login">Login:</label></td>
	<td><%= text_field_tag 'login' %></td></tr>
	
	<tr><td align='right'><label for="password">Password:</label></td>
	<td><%= password_field_tag 'password' %></td></tr>
</table>
	
	<p><label for="remember_me">Remember me:</label>
	<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
</center>
<script type="text/javascript">
Form.focusFirstElement('login-form');
</script>
</div>