.planigle-site {
	padding-top: 2px;
	padding-bottom: 2px;
}

.planigle-site img {
	height: 30px;
}

nav {
	padding: 0px;
}

.nav-item a {
	color: #888888;
	cursor: pointer;
}

.nav-item a:hover, .nav-item.active a {
	color: #0275d8;
}
