<div class="wait-cursor" [hidden]="!waiting">
	<img src="images/ajax-loader.gif"> 
</div>
<div class="container-fluid" >
	<app-header></app-header>
	<div [hidden]="selection != null">
		<app-story-overall-actions [grid]="this"></app-story-overall-actions>
		<app-story-filters
			[grid]="this"
			[customStoryAttributes]="customStoryAttributes"
			(currentReleaseChanged)="updateNewStoryReleaseId($event.value)"
			(currentIterationChanged)="updateNewStoryIterationId($event.value)"></app-story-filters>
	</div>
	<app-stories-summary *ngIf="selection == null && user && user.is_premium"
		[numberOfStories]="numberOfStories"
		[velocityAllocation]="velocityAllocation"
		[storyAllocation]="storyAllocation">
	</app-stories-summary>
	<app-edit-story
		*ngIf="selection && selection.isStory()"
		[(story)]="selection"
		[customStoryAttributes]="customStoryAttributes"
		[projects]="projects"
		[epics]="epics"
		[releases]="filters.choosableReleases"
		[iterations]="filters.choosableIterations"
		[teams]="filters.choosableTeams"
		[individuals]="filters.choosableIndividuals"
		[me]="user"
		[hasPrevious]="previous() != null"
		[hasNext]="next() != null"
		[split]="split"
		(updatedAttributes)="fetchStoryAttributes()"
		(closed)="finishedEditing($event.value)"></app-edit-story>
	<app-edit-task
		*ngIf="selection && !selection.isStory()"
		[(task)]="selection"
		[individuals]="filters.choosableIndividuals"
		[me]="user"
		[hasPrevious]="previous() != null"
		[hasNext]="next() != null"
		[showActuals]="myProject && myProject.track_actuals"
		(closed)="finishedEditing($event.value)"></app-edit-task>
	<div [hidden]="selection != null" class="scroll-up"></div>
	<ag-grid-ng2 [hidden]="selection != null" #agGrid class="ag-fresh"
		[gridOptions]="gridOptions"
	    [columnDefs]="columnDefs"
	    [rowData]="stories"
	    [context]="context"
	    [getNodeChildDetails]="getChildren"
	    [getRowClass]="getRowClass"
	    [getRowNodeId]="getRowNodeId"
	    (modelUpdated)="gridReady()"
	    (cellClicked)="selectRow($event)"
	    (rowDoubleClicked)="editRow($event)"
	    (rowGroupOpened)="rowGroupOpened($event)"
	    (columnResized)="resizeColumn($event)"
	    (columnMoved)="moveColumn($event)"
	    (rowGroupOpened)="updateExpandContractAll()"
	    enableColResize
	    enableSorting
	    rowHeight="25"
	    rowBuffer="1000"
	    suppressCellSelection
	    suppressDragLeaveHidesColumns>  <!-- rowBuffer high to better handle drag and drop  -->
	</ag-grid-ng2>
	<div [hidden]="selection != null" class="scroll-down"></div>
	<app-pagination *ngIf="selection == null && numPages > 1" [(currentPage)]="currentPage" [numPages]="numPages" (changePage)="fetchPage($event.value)"></app-pagination>
</div>
<template ngbModalContainer></template>
