<div class="panel">
	<p *ngIf="!submitted">Drag and drop the stories to order them from most important to least important and then click Submit.<!--  Click the + button to add your own ideas to the mix.--></p>
	<form (ngsubmit)="submit()" #form="ngForm">
	    <div [hidden]="!error" class="alert alert-danger" [innerHtml]="error"></div>
	    <div [hidden]="!notice" class="alert alert-success" [innerHtml]="notice"></div>
		<div class="form-group row">
		  <label for="name" class="col-xs-2 col-form-label">Name</label>
		  <div class="col-xs-10">
		    <input class="form-control" type="text" [(ngModel)]="survey.name" name="name" #name="ngModel" maxlength="80" required autofocus>
		    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
	          Name is required
	        </div>
		  </div>
		</div>
		<div class="form-group row">
		  <label for="company" class="col-xs-2 col-form-label">Company</label>
		  <div class="col-xs-10">
		    <input class="form-control" type="text" [(ngModel)]="survey.company" name="company" #company="ngModel" maxlength="80">
		  </div>
		</div>
		<div class="form-group row">
		  <label for="email" class="col-xs-2 col-form-label">Email</label>
		  <div class="col-xs-10">
		    <input class="form-control" type="text" [(ngModel)]="survey.email" name="email" #email="ngModel" maxlength="100" required>
		    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
	          Email is required
	        </div>
		  </div>
		</div>
		<div class="buttons" *ngIf="!submitted">
			<button type="submit" class="btn btn-secondary" (click)="submit()" [disabled]="!form.form.valid">Submit</button>
		</div>
	</form>
</div>
<div class="scroll-up"></div>
<ag-grid-ng2 #agGrid class="ag-fresh"
	[gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [rowData]="survey.surveyMappings"
	[getRowClass]="getRowClass"
    (modelUpdated)="gridReady()"
    enableColResize
    enableSorting
    rowHeight="22"
    rowBuffer="1000"
    suppressCellSelection
    suppressDragLeaveHidesColumns>  <!-- rowBuffer high to better handle drag and drop  -->
</ag-grid-ng2>
<div class="scroll-down"></div>
