.grid {
	width: 100%;
	height: 150px;
	overflow: auto;
	resize: vertical;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.row {
	margin: 0px;
}

.row:nth-child(even) {
	background-color: #f6f6f6;
}

.cell {
	float: left;
	min-height: 20px;
	cursor: pointer;
}

.status, .delete {
	width: 5%;
	text-align: center;
}

.description {
	width: 90%;
}

.content {
	width: 100%;
}

textarea {
	width: 100%;
}