<% if @logo != nil %><%= @logo %><% end %><br/>
Project: <%= @project %><br/>
<br/>
<p>According to our records, your project hasn't used Planigle since <%= @last_login %>.  Is there anything we can do to help?  If so, please respond to this email and we'd be happy to answer any questions you may have.</p>

<p>If not, and you've decided that you're going to use another tool, would you be willing to let us know what convinced you to do so?  No need for a form.  Just reply to this email with your thoughts.</p>

<p>We appreciate your feedback and willingness to give Planigle a try.  Best of luck in your quest for agility.</p>