<h1>Edit Individual</h1>

<%= render :partial => 'form', :locals => { :action => 'Update' } %>

<%= link_to image_tag('show.png', :alt => 'View', :size => '24x24'), @individual %>
<%= link_to image_tag('cancel.png', :alt => 'Cancel', :size => '24x24'), individuals_path %>
