<h1>Individuals <%= link_to image_tag('new.png', :alt => 'New', :size => '24x24'), :action => 'new' %></h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Activated</th>
    <th>Enabled</th>
  </tr>
  <tbody id='individuals'>
    <%= render :partial=>'individuals' %>
  </tbody>
</table>