<h1>Individuals</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Activated</th>
    <th>Enabled</th>
  </tr>
  <tbody id='individuals'>
    <%= render :partial=>'individuals' %>
  </tbody>
</table>

<br />

<%= link_to 'New individual', :action => 'new' %>
