<div class="action-bar">
    <select name="release" [(ngModel)]="release" *ngIf="!grid.showEpics() && releases.length>3" (change)="updateNavigation()">
        <option *ngFor="let release of releases" [value]="release.id">  
        {{release.name}}
        </option>
    </select>
    <select name="iteration" [(ngModel)]="iteration" *ngIf="!grid.showEpics() && iterations.length>3" (change)="updateNavigation()">
        <option *ngFor="let iteration of iterations" [value]="iteration.id">
        {{iteration.name}}
        </option>
    </select>
    <select name="team" [(ngModel)]="team" *ngIf="teams.length>3" (change)="updateNavigation()">
        <option *ngFor="let team of teams" [value]="team.id">
        {{team.name}}
        </option>
    </select>
    <select name="owner" [(ngModel)]="individual" *ngIf="individuals.length>3" (change)="updateNavigation()">
        <option *ngFor="let individual of enabledIndividuals" [value]="individual.id">  
        {{individual.name}}
        </option>
    </select>
    <select name="status" [(ngModel)]="status" (change)="updateNavigation()">
        <option *ngFor="let status of statuses" [value]="status.id">
        {{status.name}}
        </option>
    </select>
</div>
<div class="btn-group" [ngClass]="{active: hasAdditionalFilters}" role="group" aria-label="Actions">
	<button type="button" class="btn btn-secondary" title="Show additional search options"
		[hidden]="showMoreOptions"
		(click)="toggleMoreOptions()">
		<fa [name]="'angle-double-down'"></fa></button>
	<button type="button" class="btn btn-secondary" title="Hide additional search options"
		[hidden]="!showMoreOptions"
		(click)="toggleMoreOptions()">
		<fa [name]="'angle-double-up'"></fa></button>
</div>
<div class="more-options" [hidden]="!showMoreOptions">
	<app-custom-attributes [(customStoryAttributes)]="customStoryAttributes" [(customValues)]="customValues" [releaseId]="release" [filter]="true" (changed)="updateNavigation()"></app-custom-attributes>
	<div class="form-group row">
	  <label for="searchText" class="col-xs-2 col-form-label">Search Text</label>
	  <div class="col-xs-10">
		<input #searchTextInput class="form-control" type="text" name="searchText" [(ngModel)]="searchText">
	  </div>
	</div>
</div>
