<p>An account has been created for you on Planigle (the way to Plan Agile).</p>
  <p><b>Username:</b> <%= @individual.login %><br />
  <b>Password:</b> <%= @individual.password %></p>
<p>Visit this url to activate your account:</p>
  <p><a href="<%= @url %>"><%= @url %></a></p>