<% if @logo != nil %><%= @logo %><% end %><br/>
<p>Your use of the premium edition of Planigle will expire on <%= @premium_expiry %>.  If you'd like to continue using Planigle's premium edition, it is just $10 / user / month.  Simply go to <a href="http://www.planigle.com/buy">http://www.planigle.com/buy</a> to purchase or respond to this email and we'll set you up.</p>

<p>For a comparison of the features between the two editions, see <a href="http://www.planigle.com/products/features">http://www.planigle.com/products/features</a>.</p>

<p>If you take no action, your project will revert to the community edition on <%= @premium_expiry %>.</p>