<div class="wait-cursor" [hidden]="!waiting">
	<img src="images/ajax-loader.gif"> 
</div>
<div class="container-fluid" >
	<app-header></app-header>
	<div *ngIf="selection == null">
		<div class="btn-group" role="group" aria-label="Actions">
			<button type="button" class="btn btn-secondary" title="Add story" (click)="addStory()"><fa [name]="'plus'"></fa></button>
			<button type="button" class="btn btn-secondary" title="Select columns" (click)="selectColumns()"><fa [name]="'columns'"></fa></button>
			<button type="button" class="btn btn-secondary" title="Export CSV" (click)="export()"><fa [name]="'download'"></fa></button>
			<button type="button" class="btn btn-secondary" title="Import CSV" (click)="import()"><fa [name]="'upload'"></fa></button>
		</div>
		<div class="action-bar">
		    <select name="release" [(ngModel)]="release" *ngIf="releases.length>3" (change)="fetchStories()">
		        <option *ngFor="let release of releases" [value]="release.id">  
		        {{release.name}}
		        </option>
		    </select>
		    <select name="iteration" [(ngModel)]="iteration" *ngIf="iterations.length>3" (change)="fetchStories()">
		        <option *ngFor="let iteration of iterations" [value]="iteration.id">
		        {{iteration.name}}
		        </option>
		    </select>
		    <select name="team" [(ngModel)]="team" *ngIf="teams.length>3" (change)="fetchStories()">
		        <option *ngFor="let team of teams" [value]="team.id">
		        {{team.name}}
		        </option>
		    </select>
		    <select name="owner" [(ngModel)]="individual" *ngIf="individuals.length>3" (change)="fetchStories()">
		        <option *ngFor="let individual of enabledIndividuals" [value]="individual.id">  
		        {{individual.name}}
		        </option>
		    </select>
		    <select name="status" [(ngModel)]="status" (change)="fetchStories()">
		        <option *ngFor="let status of statuses" [value]="status.id">
		        {{status.name}}
		        </option>
		    </select>
		</div>
	</div>
	<app-edit-story
		*ngIf="selection && selection.isStory()"
		[(story)]="selection"
		[storyAttributes]="storyAttributes"
		[projects]="projects"
		[releases]="choosableReleases"
		[iterations]="choosableIterations"
		[teams]="choosableTeams"
		[individuals]="choosableIndividuals"
		[me]="user"
		(closed)="clearSelection()"></app-edit-story>
	<app-edit-task *ngIf="selection && !selection.isStory()" [(task)]="selection" [individuals]="choosableIndividuals" [me]="user" (closed)="clearSelection()"></app-edit-task>
	<div class="scroll-up"></div>
	<ag-grid-ng2 #agGrid class="ag-fresh"
		[gridOptions]="gridOptions"
	    [columnDefs]="columnDefs"
	    [rowData]="stories"
	    [context]="context"
	    [getNodeChildDetails]="getChildren"
	    [getRowClass]="getRowClass"
	    [getRowNodeId]="getRowNodeId"
	    (modelUpdated)="gridReady()"
	    (rowDoubleClicked)="selectRow($event)"
	    (rowGroupOpened)="rowGroupOpened($event)"
	    (columnResized)="resizeColumn($event)"
	    (columnMoved)="moveColumn($event)"
	    enableColResize
	    enableSorting
	    rowHeight="22"
	    rowBuffer="1000"
	    suppressCellSelection
	    suppressDragLeaveHidesColumns>  <!-- rowBuffer high to better handle drag and drop  -->
	</ag-grid-ng2>
	<div class="scroll-down"></div>
</div>
<template ngbModalContainer></template>
<input id="import" class="hidden" type="file" name="Filedata" data-url="api/stories/import">
