select {
	font-size: 1rem;
}

ag-grid-ng2 {
	width: 100%;
	height: 0px;
}

.ag-fresh {
	font-size: 0.85rem;
}

:host /deep/ .ag-fresh .ag-group-cell {
	font-style: normal;
}

:host /deep/ .ag-row-level-1 {
	background: #D4E5FD;
}

:host /deep/ .ag-row-level-1 .ag-cell:first-child span {
	display: none;
}

:host /deep/ .ag-cell select {
	padding: 0px;
	height: 1.2rem !important;
	font-size: 0.9rem;
}

:host /deep/ .ui-droppable-hover {
	border-top: 1px solid black;
}

:host /deep/ .ui-draggable-dragging {
	background: lightgrey;
	opacity: 0.5;
}

:host /deep/ .task [colid=name] {
	padding-left: 15px;
}

:host /deep/ .ag-header-container i.fa {
	font-size: 14px;
	padding-top: 6px;
	margin-left: -1px;
	cursor: pointer;
}

.scroll-up, .scroll-down {
	height: 16px;
	width: 100%;
	position: fixed;
}

.scroll-up {
	top: 77px;
}

.scroll-up.ui-droppable-hover {
	border-top: 0px solid black;
	border-bottom: 1px solid black;
}

.scroll-down {
	bottom: 1px;
}

.wait-cursor {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.wait-cursor img {
	height: 32px;
	width: 32px;
	z-index: 10;
}