.row {
	position: relative;
	top: 100px;
}

.account-wall {
	margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 440px;
    padding: 20px;
}

button, .error {
	margin-top: 10px;
}

.error {
	color: red;
}

@media (max-width: 543px) {
	.account-wall {
		width: 95%;
	}
	
	.account-wall img {
		width: 100%;
	}
}

.agreement {
	height: 400px;
	overflow-y: auto;
}
