#columns {
	background: #141;
}

#banner {
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
}

#banner img {
	float: left;
}

#side {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 405px;
	margin-right: 15px;
	background: #141;
}

#side a {
	color: #bfb;
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: medium;
	text-decoration: none;
}

#main {
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	margin-left: 110px;
	background: white;
}

#main body, p, ol, ul, th, td, a {
  color: Black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 24px;
}

#main img {
	border: hidden;
	border-width: 0px;
}

#main H1 {
	color: #141;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: medium;
	margin-top: 0px;
	padding-top: 0px;
}

#main table {
	border: groove;
	border-color: #141;
	background-color: #EAE8E8;
}

#main th {
	padding-left: 15px;
	text-decoration: underline;
	text-transform: capitalize; 
}

#main td {
	padding-left: 15px;
	}

#stories tr {
	cursor: pointer;
}

#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

.errorExplanation h2 {
  color: Red;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 12px;	
}

.errorExplanation p, li, ui {
  color: Black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 0px;	
}
