/* CSS file */

Application
{
	backgroundGradientAlphas: 0.5, 0.5;
	backgroundGradientColors: #516025, #D3EE7F;
}

Button {
	cornerRadius:10;
	fillColors:#47473f,#dfdf7f;
}

Panel {
	borderColor:#DFDF7F;
}
