<h1>New Story</h1>

<%= render :partial => 'form', :locals => { :action => 'Create' } %>

<%= link_to image_tag('cancel.png', :alt => 'Cancel', :size => '24x24'), @iteration ? iteration_stories_path(@iteration) : stories_path %>
