<div class="edit-component">
	<form (ngsubmit)="ok()" #form="ngForm">
		<div class="panel">
		    <div [hidden]="!error" class="alert alert-danger" [innerHtml]="error"></div>
			<div class="form-group row">
			  <label for="projects" class="col-xs-2 col-form-label">Projects</label>
			  <div class="col-xs-10">
			    <ss-multiselect-dropdown name="projects" [options]="projects" [(ngModel)]="model.project_ids" (ngModelChange)="updateProject()"></ss-multiselect-dropdown>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="team" class="col-xs-2 col-form-label">Team</label>
			  <div class="col-xs-10">
			      <select name="team" class="form-control" [(ngModel)]="model.team_id" (ngModelChange)="updateTeam()" [disabled]="!canUpdate()">
			      	<option *ngFor="let team of projectTeams" [ngValue]="team.id">{{team.name}}</option>
			      	<option [ngValue]="null">No Team</option>
			      </select>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="login" class="col-xs-2 col-form-label">Login</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="text" [(ngModel)]="model.login" name="login" #login="ngModel" maxlength="40" [disabled]="!canUpdate()" required autofocus>
			    <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
		          Login is required
		        </div>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="password" class="col-xs-2 col-form-label">Password</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="password" [(ngModel)]="model.password" name="password" maxlength="40" [disabled]="!canUpdate()">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="password_confirmation" class="col-xs-2 col-form-label">Password Confirmation</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="password" [(ngModel)]="model.password_confirmation" name="password" maxlength="40" [disabled]="!canUpdate()">
			  </div>
			</div>
			<div class="form-group row">
			  <label for="team" class="col-xs-2 col-form-label">Role</label>
			  <div class="col-xs-10">
			      <select name="role" class="form-control" [(ngModel)]="model.role" [disabled]="!canUpdate()">
			      	<option [ngValue]="1">Project Admin</option>
			      	<option [ngValue]="2">Project User</option>
			      	<option [ngValue]="3">Read Only User</option>
			      </select>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="team" class="col-xs-2 col-form-label">Enabled</label>
			  <div class="col-xs-10">
			      <select name="enabled" class="form-control" [(ngModel)]="model.enabled" [disabled]="!canUpdate()">
			      	<option [ngValue]="true">True</option>
			      	<option [ngValue]="false">False</option>
			      </select>
			  </div>
			</div>
		</div>
		<div class="panel">
			<div class="form-group row">
			  <label for="first_name" class="col-xs-2 col-form-label">First Name</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="text" [(ngModel)]="model.first_name" name="first_name" #first_name="ngModel" maxlength="40" [disabled]="!canUpdate()" required>
			    <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">
		          First Name is required
		        </div>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="last_name" class="col-xs-2 col-form-label">Last Name</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="text" [(ngModel)]="model.last_name" name="last_name" #last_name="ngModel" maxlength="40" [disabled]="!canUpdate()" required>
			    <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">
		          Last Name is required
		        </div>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="email" class="col-xs-2 col-form-label">Email</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="text" [(ngModel)]="model.email" name="email" #email="ngModel" maxlength="100" [disabled]="!canUpdate()" required>
			    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
		          Email is required
		        </div>
			  </div>
			</div>
			<div class="form-group row">
			  <label for="phone_number" class="col-xs-2 col-form-label">Phone Number</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="text" [(ngModel)]="model.phone_number" name="phone_number" #phone_number="ngModel" maxlength="20" [disabled]="!canUpdate()">
			  </div>
			</div>
			<div class="form-group row notification">
			  <label for="notify" class="col-xs-2 col-form-label">Notification</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="checkbox" [(ngModel)]="model.notify" name="notify" [disabled]="!canUpdate()">
			    <span>Notify on story completion / acceptance</span>
			  </div>
			</div>
			<div class="form-group row refresh-interval">
			  <label for="refresh_interval" class="col-xs-2 col-form-label">Auto Refresh Rate</label>
			  <div class="col-xs-10">
			    <input class="form-control" type="number" [(ngModel)]="model.refresh_interval_minutes" name="refresh_interval" min="1" maxlength="5" size="5" [disabled]="!canUpdate()">
			    <span>minutes</span>
			  </div>
			</div>
		</div>
		<div class="buttons">
			<button type="submit" class="btn btn-secondary" (click)="isNew() ? addAnother(form) : ok()" [disabled]="!canSave(form)">{{isNew() ? 'Create' : 'Update'}}</button>
			<button type="submit" class="btn btn-secondary" (click)="ok()" [disabled]="!canSave(form)" [hidden]="!isNew()">Create & Close</button>
			<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
			<button type="button" class="btn btn-secondary" title="View Changes" (click)="viewChanges()" [hidden]="isNew()"><fa [name]="'info'"></fa></button>
		</div>
	</form>
</div>
