/* You can add global styles to this file, and also import other style files */
.container-fluid {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.edit-component .panel {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.edit-component .panel:nth-child(1) {
	width: 610px;
}

.edit-component .panel:nth-child(2) {
	padding-left: 10px;
	width: 410px;
}

.edit-component .buttons {
	margin-left: 10px;
	margin-bottom: 10px;
	clear: both;
}

select.form-control:not([size]):not([multiple]) {
	height: calc(2.5rem);
}

p.form-control-static {
	margin-bottom: 0px;
}

html {
	font-size: 16px;
}

@media (max-width: 543px) {
	.edit-component .panel {
		margin-top: 0px;
		margin-left: 0px;
		width: 100% !important;
	}
	
	.edit-component .col-xs-2, .col-xs-10 {
		float: none;
		width: 100%;
	}
}

.btn-group {
	float: left;
	padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-group button {
	padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #0275d8;
}

my-date-picker input {
	font-size: 1rem  !important;
	text-align: left  !important;
	font-weight: normal  !important;
	padding: 0.5rem 0.75rem !important;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #55595c  !important;
}

.actions fa {
	cursor: pointer;
	padding-right: 4px;
    color: #0275d8;
}

ag-grid-ng2 {
	width: 100%;
	height: 0px;
}

.ag-fresh {
	font-size: 0.85rem;
}

.popover ul {
	-webkit-padding-start: 15px;
}

nav {
	padding: 0px;
}

.nav-item a {
	color: #888888 !important;
	cursor: pointer;
}

.nav-item a:hover, .nav-item.active a {
	color: #0275d8 !important;
}

ag-grid-ng2 {
	margin-top: 5px;
}

.context-menu-list {
	font-size: 0.85rem;
}

.context-menu-item {
	padding-left: 10px;
	padding-right: 10px;
}

.descend {
	margin-top: 6px;
}

.ascend-label {
	margin-top: -15px;
}

.ascend-follow {
	margin-top: -11px;	
}

.form-group.required label:after {
  content:"*";
  color:red;
}
