<h1>Iterations 
<% if Iteration.new_based_on_previous.valid? %>
  <%= link_to_remote image_tag('new.png', :alt => 'New', :size => '24x24'), :url => iterations_path, :method => :post, :update => 'iterations' %>
<% else %>
  <%= link_to image_tag('new.png', :alt => 'New', :size => '24x24'), new_iteration_path %>
<% end %>
</h1>

<div id="iterations">
  <%= render :partial=>'iterations' %>
</div>

