<div class="container-fluid" >
	<app-header></app-header>
	<div [hidden]="selection != null">
		<app-task-overall-actions [grid]="this"></app-task-overall-actions>
		<div class="action-bar">
		    <select name="team" [(ngModel)]="team" *ngIf="teams.length>3" (change)="updateNavigation()">
		        <option *ngFor="let team of teams" [value]="team.id">
		        {{team.name}}
		        </option>
		    </select>
		</div>
	</div>
	<app-edit-story
		*ngIf="selection && selection.isStory()"
		[(story)]="selection"
		[customStoryAttributes]="customStoryAttributes"
		[projects]="projects"
		[epics]="epics"
		[releases]="releases"
		[iterations]="iterations"
		[teams]="choosableTeams"
		[individuals]="individuals"
		[me]="user"
		[hasPrevious]="false"
		[hasNext]="false"
		[split]="false"
		[showPublic]="myProject && myProject.survey_mode != 0"
		(updatedAttributes)="fetchStoryAttributes()"
		(closed)="finishedEditing($event.value)"></app-edit-story>
	<app-edit-task
		*ngIf="selection && !selection.isStory()"
		[(task)]="selection"
		[individuals]="individuals"
		[me]="user"
		[hasPrevious]="false"
		[hasNext]="false"
		[showActuals]="myProject && myProject.track_actuals"
		(closed)="finishedEditing($event.value)"></app-edit-task>
	<template ngbModalContainer></template>
	<table [hidden]="selection != null" class="board">
		<tr class="row">
			<th class="square title">Story</th>
			<th class="square title" *ngFor="let status of myProject.statuses">{{status.name}}</th>
		</tr>
		<tr *ngFor="let story of stories" class="row" [attr.story]="story.id">
			<td class="square story" (dblclick)="selection = story">{{story.name}}</td>
			<td class="square droppable" valign="top" [attr.status]="status.id" *ngFor="let status of myProject.statuses">
				<span *ngFor="let task of story.tasks | filter: {status_id: status.id}" class="task" [attr.story]="story.id" [attr.task]="task.id" (dblclick)="selection = task">
					<span class="name">{{task.name}}</span>
					<span class="owner" *ngIf="task.individual_name != null">{{task.individual_name}}</span>
				</span>
			</td>
		</tr>
	</table>
</div>
